{% extends '../__base.html' %}
{% load i18n %}

{% block body %}
{% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
<h3>{{ member.person.name }} {{ member.person.surname|upper }}</h3>
<dl>
  <dt>Tipo</dt>
  <dd>{{ member.get_category_display|default:_('Sin especificar') }}</dd>
  <dt>Foto Estado</dt>
  <dd>{{ member.photo_status|default:_('Sin especificar') }}</dd>
  <dt>{% trans 'Carnet' %}</dt>
  <dd>{{ member.card_status|default:_('Sin especificar') }}</dd>
  <dt>{% trans 'Foto' %}</dt>
  <dd> <img src= "/media/{{member.photo}}" alt="Fotografia miembro" height="100" width="100"> </dd>
</dl>
<a href="{% url 'member-edit' member.id %}" class="btn btn-secondary">{% trans 'Editar' %}</a>
<a href="{% url 'person-detail' member.person.id %}" class="btn btn-link">{% trans 'Ir a la ficha personal' %}</a>
{% endblock %}
