{% extends '../__base.html' %}
{% load i18n %}

{% block body %}
  {% block content %}
    <br>
    <form method="get">
     {{ filter.form.as_p }}
     <button type="submit">Buscar</button>
    </form>
    <br>
    {% for member in object_list %}
     <div>
      <a href="{% url 'member-detail' pk=member.pk %}">{{ member.person.name }} {{ member.person.surname|upper }}</a>
      <p>{{ member.person.birthday|default:_("Sin fecha de nacimiento") }}
     </div>
    {% empty %}
     <p>{% trans 'No hay socios' %}...</p>
    {% endfor %}
    {% include '../_pagination.html' %}
  {% endblock %}

{% endblock %}