# Archivo con la configuración de Travis CI, sistema
#   de integración continua

# Sólo se ejecuta con Python 3.5
language: python
python:
  - "3.6"

addons:
  apt:
    packages:
      - oracle-java8-set-default
  firefox: latest-beta

env:
  - HTMLVALIDATOR_VNU_URL=http://localhost:8888/

# Instala los pre requisitos
before_install:
  - (cd html5validation && ./install.sh)
  - (cd html5validation && ./run.sh)
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - nvm install 6
  - nvm use 6
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.18.0/geckodriver-v0.18.0-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.18.0-linux64.tar.gz -C geckodriver/
  - export PATH=$PATH:$PWD/geckodriver
  - sleep 20

# Hay que instalar las dependencias
install:
  - npm install
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt

# Estos son los tests que se ejecutarán
script:
    - npm run lint
    - isort --check-only
    - flake8
    - pytest --driver Firefox --cov=./ --cov-report=xml

# Lanza página para medir cobertura
# Se puede ver en https://codecov.io/gh/abertal/alpha
after_success:
    - bash <(curl -s https://codecov.io/bash)
