{% extends '../__base.html' %}
{% load i18n %}

{% block heading_action %}
<a href="{% url 'person-list' %}" title="{% trans 'Volver sin guardar' %}" data-toggle="tooltip" data-placement="bottom">
  <div class="icon dripicons-cross"></div>
</a>
{% endblock %}

{% block body %}

<form class="custom-form element" action="{% url 'person-create' %}" method="post">
  {% include '../_form_fields.html' %}
  <div class="actions">
    <input type="submit" class="btn btn-primary btn-lg" value=" {% trans 'Crear' %}">
    <a href="{% url 'person-list' %}" class="btn btn-link btn-lg">
      {% trans 'Volver sin guardar' %}
    </a>
  </div>
</form>
{% endblock %}
