{% extends '../__base.html' %}
{% load i18n %}

{% block heading_action %}
<a href="{% url 'person-list' %}" title="{% trans 'Volver sin guardar' %}" data-toggle="tooltip" data-placement="bottom">
  <div class="icon dripicons-cross"></div>
</a>
{% endblock %}

{% block body %}

<form class="custom-form element" action="{% url 'person-create' %}" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {# Include the hidden fields #}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {# Include the visible fields not in fieldsets #}
  {% for field in form.visible_fields %}
    {% include '../_form_field.html' %}
  {% endfor %}

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item dropdown">
      <a class="nav-link active" data-toggle="tab" href="#common" role="tab">
        Datos
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="tab" href="#target" role="tab">
        Destinatario
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#voluntary" role="tab">
        Voluntario
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tutor" role="tab">
        Tutorizados
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tutor" role="tab">
        Tutor
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#collaborator" role="tab">
        Colaborador
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#activities" role="tab">
        Actividades
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="common" role="tabpanel">
      {% with form.fieldsets.0 as fieldset %}
        {% include '../_form_fieldset.html' %}
      {% endwith %}

      {% with form.fieldsets.1 as fieldset %}
        {% include '../_form_fieldset.html' %}
      {% endwith %}

      {% with form.fieldsets.2 as fieldset %}
        {% include '../_form_fieldset.html' %}
      {% endwith %}

      {% with form.fieldsets.3 as fieldset %}
        {% include '../_form_fieldset.html' %}
      {% endwith %}
    </div>
    <div class="tab-pane" id="target" role="tabpanel">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" v-model="target">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Es destinatario</span>
      </label>

      <div v-show="target">
        Campos de destinatario
      </div>
    </div>
    <div class="tab-pane" id="voluntary" role="tabpanel">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" v-model="voluntary">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Es voluntario</span>
      </label>

      <div v-show="voluntary">
        Campos de voluntario
      </div>

    </div>
    <div class="tab-pane" id="tutor" role="tabpanel">


      <div class="form-inline search-form" method="get">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="{% trans 'Añadir tutor'%}">
        <button class="btn btn-primary" type="submit">
          <div class="icon dripicons-plus"></div>
        </button>
      </div>

      <table class="table table-striped table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>F. Nacimiento</th>
        </tr>
        </thead>
        <tbody>
        {% for person in object_list %}
        <tr>
          <td>Nom</td>
          <td>{{ person.surname }}</td>
          <td>{{ person.birthday|default:'-' }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="empty">
            {% trans 'No tiene ningun tutor' %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="collaborator" role="tabpanel">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" v-model="collaborator">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Es colaborador</span>
      </label>

      <div v-show="collaborator">
        Campos de colaborador
      </div>

    </div>

    <div class="tab-pane" id="activities" role="tabpanel">
      Listado de actividades (Si existen)
    </div>


  </div>

  <div class="actions">
    <input type="submit" class="btn btn-primary btn-lg" value=" {% trans 'Crear' %}">
    <a href="{% url 'person-list' %}" class="btn btn-link btn-lg">
      {% trans 'Volver sin guardar' %}
    </a>
  </div>
</form>
{% endblock %}
