{% extends '../__base.html' %}
{% load i18n %}

{% block heading_action %}
<a href="{% url 'person-list' %}" title="{% trans 'Volver sin guardar' %}" data-toggle="tooltip" data-placement="bottom">
  <div class="icon dripicons-cross"></div>
</a>
{% endblock %}

{% block body %}

<form class="custom-form element" action="{% url 'person-create' %}" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {# Include the hidden fields #}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {# Include the visible fields not in fieldsets #}
  {% for field in form.visible_fields %}
    {% include '../_form_field.html' %}
  {% endfor %}

  {% for fieldset in fieldsets %}
    {% include '../_form_fieldset.html' with fieldset=fieldset %}
  {% endfor %}

  <div class="actions">
    <input type="submit" class="btn btn-primary btn-lg" value=" {% trans 'Crear' %}">
    <a href="{% url 'person-list' %}" class="btn btn-link btn-lg">
      {% trans 'Volver sin guardar' %}
    </a>
  </div>
</form>
{% endblock %}
