{% extends '../__base.html' %}
{% load i18n %}
{% load static %}

{% block heading_action %}
<a href="{% url 'person-list' %}" title="{% trans 'Volver sin guardar' %}" data-toggle="tooltip" data-placement="bottom">
  <div class="icon dripicons-cross"></div>
</a>
{% endblock %}

{% block body %}
<form class="custom-form element" action="{% url 'person-edit' person.id %}" method="post">
  {% csrf_token %}
  {% for subform in subforms %}
    {{ subform.form.non_field_errors }}
  {% endfor %}
  {# Include the hidden fields #}
  {% for subform in subforms %}
    {% for hidden in subform.form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
  {% endfor %}
  {# Include the visible fields not in fieldsets form first form #}
  {% for field in subforms.0.form.visible_fields %}
    {% include '../_form_field.html' %}
  {% endfor %}
  <ul class="nav nav-tabs" role="tablist">
    {% for subform in subforms %}
      <li class="nav-item dropdown">
        <a class="nav-link {{ forloop.first|yesno:'active,' }}" data-toggle="tab" href="#{{ subform.slug }}" role="tab">
          {{ subform.name }}
          {{ subform.form.errors|yesno:'(ERROR),'}}
        </a>
      </li>
    {% endfor %}
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="tab" href="#tutores" role="tab">
          Tutores
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="tab" href="#tutelandos" role="tab">
          Tutelandos
        </a>
      </li>
  </ul>
  <div class="tab-content">
    {% for subform in subforms %}
    <div class="tab-pane {{ forloop.first|yesno:'active,' }}" id="{{ subform.slug }}" role="tabpanel">
      {# Visible fields for first subfrm were displayed before. #}
      {% if not forloop.first %}
      {% for field in subform.form.visible_fields %}
        {% include '../_form_field.html' %}
      {% endfor %}
      {% endif %}
      {% with subform.form.fieldsets as fieldsets %}
        {% for fieldset in fieldsets %}
        {% include '../_form_fieldset.html' with fieldset=fieldset %}
        {% endfor %}
      {% endwith %}
    </div>
    {% endfor %}
    <div class="tab-pane" id="tutores" role="tabpanel">

      <search-person
        placeholder="{% trans 'Buscar persona' %}"
        no-results="{% trans 'No hay coincidencias' %}"
        @select-person="onSelectPerson"
      ></search-person>



      <input type="hidden" name="newCustodians[]" v-model="newCustodians"/>
      <input type="hidden" name="removedCustodians[]" v-model="removedCustodians"/>


      <table class="table table-striped table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>F. Nacimiento</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for recipient in person.recipient_set.all %}
          {% for custodian in recipient.custodian_set.all %}
            <tr>
              <td>{{ person.name }}</td>
              <td>{{ person.surname }}</td>
              <td>{{ person.birthday|default:'-' }}</td>
              <td class="row-actions">
                <a href="{% url 'person-edit' person.id %}" class="btn btn-xs btn-link">
                  <div class="icon dripicons-pencil"></div>
                </a>
              </td>
            </tr>
          {% empty %}
            <tr v-show="newCustodians.length == 0">
              <td colspan="4" class="empty">
                {% trans 'No hay tutores' %}
              </td>
            </tr>
          {% endfor %}

          <tr v-for="custodian in newCustodians">
            <td>{{ custodian.name }}</td>
            <td>{{ custodian.surname }}</td>
            <td>{{ custodian.birthday }}</td>
            <td class="row-actions">
              <a href="{% url 'person-edit' person.id %}" class="btn btn-xs btn-link">
                <div class="icon dripicons-pencil"></div>
              </a>
            </td>
          </tr>
        {% empty %}
            <tr>
              <td colspan="4" class="empty">
                {% trans 'No es destinatario' %}
              </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="tutelandos" role="tabpanel">
      {% for custodian in person.custodian_set.all %}
      <p>
        {{ custodian.get_category_display }} de {{ custodian.minor.person.name }} {{ custodian.minor.person.surname }}
        <a href="{% url 'person-edit' custodian.minor.person.id %}#tutores">Editar</a>
      </p>
      {% empty %}
      No hay tutelandos
      {% endfor %}

    </div>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary btn-lg" value="{% trans 'Guardar cambios' %}">
    <a href="{% url 'person-detail' person.id %}" class="btn btn-link btn-lg">{% trans 'Volver sin guardar' %}</a>
  </div>
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/person-edit.bundle.js' %}"></script>
{% endblock extra_js %}
