{% extends '../__base.html' %}
{% load i18n %}

{% block heading_action %}
<a href="{% url 'person-list' %}" title="{% trans 'Volver sin guardar' %}" data-toggle="tooltip" data-placement="bottom">
  <div class="icon dripicons-cross"></div>
</a>
{% endblock %}

{% block body %}
<form class="custom-form element" action="{% url 'person-edit' person.id %}" method="post">
  {% csrf_token %}
  {% for subform in subforms %}
    {{ subform.form.non_field_errors }}
  {% endfor %}
  {# Include the hidden fields #}
  {% for subform in subforms %}
    {% for hidden in subform.form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
  {% endfor %}
  {# Include the visible fields not in fieldsets form first form #}
  {% for field in subforms.0.form.visible_fields %}
    {% include '../_form_field.html' %}
  {% endfor %}
  <ul class="nav nav-tabs" role="tablist">
    {% for subform in subforms %}
      <li class="nav-item dropdown">
        <a class="nav-link {{ forloop.first|yesno:'active,' }}" data-toggle="tab" href="#{{ subform.slug }}" role="tab">
          {{ subform.name }}
          {{ subform.form.errors|yesno:'(ERROR),'}}
        </a>
      </li>
    {% endfor %}
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="tab" href="#tutores" role="tab">
          Tutores
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="tab" href="#tutelandos" role="tab">
          Tutelandos
        </a>
      </li>
  </ul>
  <div class="tab-content">
    {% for subform in subforms %}
    <div class="tab-pane {{ forloop.first|yesno:'active,' }}" id="{{ subform.slug }}" role="tabpanel">
      {# Visible fields for first subfrm were displayed before. #}
      {% if not forloop.first %}
      {% for field in subform.form.visible_fields %}
        {% include '../_form_field.html' %}
      {% endfor %}
      {% endif %}
      {% with subform.form.fieldsets as fieldsets %}
        {% for fieldset in fieldsets %}
        {% include '../_form_fieldset.html' with fieldset=fieldset %}
        {% endfor %}
      {% endwith %}
    </div>
    {% endfor %}
    <div class="tab-pane" id="tutores" role="tabpanel">
      {% for recipient in person.recipient_set.all %}
      {% for custodian in recipient.custodian_set.all %}
      <p>
        {{ custodian.person.name }}
        {{ custodian.person.surname }}
        ({{ custodian.get_category_display }})
        <a href="{% url 'person-edit' custodian.person.id %}#tutelandos">Editar</a>
      </p>
      {% empty %}
      No hay tutores
      {% endfor %}
      {% empty %}
      No es destintario
      {% endfor %}
    </div>
    <div class="tab-pane" id="tutelandos" role="tabpanel">
      {% for custodian in person.custodian_set.all %}
      <p>
        {{ custodian.get_category_display }} de {{ custodian.minor.person.name }} {{ custodian.minor.person.surname }}
        <a href="{% url 'person-edit' custodian.minor.person.id %}#tutores">Editar</a>
      </p>
      {% empty %}
      No hay tutelandos
      {% endfor %}

    </div>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="{% trans 'Guardar cambios' %}">
    <a href="{% url 'person-detail' person.id %}" class="btn btn-link">{% trans 'Volver sin guardar' %}</a>
  </div>
</form>
{% endblock %}
