{% extends '../__base.html' %}
{% load i18n %}
{% load static %}

{% block heading_action %}
<a href="{% url 'person-list' %}" title="{% trans 'Volver sin guardar' %}" data-toggle="tooltip" data-placement="bottom">
  <div class="icon dripicons-cross"></div>
</a>
{% endblock %}

{% block body %}
{% if person.photo %}
<img src="{{ person.photo.url }}" alt="{% trans 'Fotografía de la persona' %}">
{% else %}
{% endif %}
<form class="custom-form element" action="{% url 'person-edit' person.id %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for subform in subforms.values %}
    {{ subform.form.non_field_errors.as_ul }}
      {% for err in subform.form.non_field_errors %}
      <p class="form-error">{{ err }}.</p>
    {% endfor %}
  {% endfor %}
  {# Include the hidden fields #}
  {% for subform in subforms.values %}
    {% for hidden in subform.form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
  {% endfor %}
  {# Include the visible fields not in fieldsets form first form #}
  {% for field in subforms.datos.form.visible_fields %}
    {% include '../_form_field.html' %}
  {% endfor %}
  <ul class="nav nav-tabs" role="tablist">
    {% for subform in subforms.values %}
    {% if subform.name != None %}
      <li class="nav-item dropdown">
        <a class="nav-link {{ forloop.first|yesno:'active,' }}" data-toggle="tab" href="#{{ subform.slug }}" role="tab">
          {{ subform.name }}
          {% if subform.form.errors %}
            <span class="error icon dripicons-warning"></span>
          {% endif %}
        </a>
      </li>
    {% endif %}
    {% endfor %}
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="tab" href="#tutelandos" role="tab">
          Tutelandos
        </a>
      </li>
  </ul>
  <div class="tab-content">
    {% for subform in subforms.values %}
    {%  if not subform.skip %}
    <div class="tab-pane {{ forloop.first|yesno:'active,' }}" id="{{ subform.slug }}" role="tabpanel">

      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Es destinatario</span>
      </label>
        {# Visible fields for first subfrm were displayed before. #}
        {% if not forloop.first %}
        {% for field in subform.form.visible_fields %}
          {% include '../_form_field.html' %}
        {% endfor %}
        {% endif %}
        {% with subform.form.fieldsets as fieldsets %}
          {% for fieldset in fieldsets %}
          {% include '../_form_fieldset.html' with fieldset=fieldset %}
          {% endfor %}
        {% endwith %}
    </div>
    {% endif %}
    {% endfor %}
    <div class="tab-pane" id="tutores" role="tabpanel">

      <search-person
        placeholder="{% trans 'Añadir tutor' %}"
        no-results="{% trans 'No hay coincidencias' %}"
        @select-person="onSelectCustodian"
      ></search-person>


      <table class="table table-striped table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>F. Nacimiento</th>
          <th>Tipo</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for custodian_form in view.custodians %}
        {% with custodian=custodian_form.instance %}
          <tr ref="custodian-{{ person.id }}" v-show="isVisible()">
            <td>{{ custodian.person.name }}</td>
            <td>{{ custodian.person.surname }}</td>
            <td>{{ custodian.person.birthday|default:'-' }}</td>
            <td>{{ custodian_form.category }}</td>
            <td class="row-actions">
              <a href="{% url 'person-edit' custodian.person.id %}#tutelandos" class="btn btn-xs btn-link">
                <div class="icon dripicons-pencil"></div>
              </a>
              <a href="#" @click="removeCustodian('{{ custodian.id }}', $event)" class="btn btn-xs btn-link" data-id="{{ custodian.id }}">
                <div class="icon dripicons-trash"></div>
              </a>
            </td>
          </tr>
        {% endwith %}
        {% empty %}
          <tr v-show="!newCustodian">
            <td colspan="5" class="empty">
              {% trans 'No hay tutores' %}
            </td>
          </tr>
        {% endfor %}
        <tr v-if="newCustodian">
          <td>${ newCustodian.name }</td>
          <td>${ newCustodian.surname }</td>
          <td>${ newCustodian.birthday }</td>
          <td>
            <input type="hidden" name="addcustodian-person" v-model="newCustodianId"/>
            <select name="addcustodian-category" class="form-control">
              <option value="">------</option>
              <option value="father">Padre</option>
              <option value="mother">Madre</option>
              <option value="legal">Tutor</option>
            </select>
          </td>
          <td class="row-actions">
            <a href="#" @click="removeCustodian(newCustodian.id, $event)" class="btn btn-xs btn-link">
              <div class="icon dripicons-trash"></div>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="tutelandos" role="tabpanel">
      {% for custodian in person.custodian_set.all %}
      <p>
        {{ custodian.get_category_display }} de {{ custodian.minor.person.name }} {{ custodian.minor.person.surname }}
        <a href="{% url 'person-edit' custodian.minor.person.id %}#tutores">Editar</a>
      </p>
      {% empty %}
      No hay tutelandos
      {% endfor %}

    </div>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary btn-lg" value="{% trans 'Guardar cambios' %}">
    <a href="{% url 'person-detail' person.id %}" class="btn btn-link btn-lg">{% trans 'Volver sin guardar' %}</a>
  </div>
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/person-edit.bundle.js' %}"></script>
{% endblock extra_js %}
