{% extends '../__base.html' %}
{% load i18n %}

{% block body %}
  {% block content %}
  <div>
    <a href="{% url 'person-create' %}" class="btn btn-primary">{% trans 'Nueva persona '%}</a>
  </div>
    <br>
    <form method="get">
     {{ filter.form.as_p }}
     <button type="submit">Buscar</button>
    </form>
    <br>
    {% for person in object_list %}
     <div>
      <a href="{% url 'person-detail' pk=person.pk %}">{{ person.name }} {{ person.surname|upper }}</a>
      <p>{{ person.birthday|default:_("Sin fecha de nacimiento") }}</p>
     </div>
    {% empty %}
     <p>{% trans 'No hay grupos' %}</p>
    {% endfor %}
    {% include '../_pagination.html' %}
  {% endblock content %}
{% endblock body %}
