{% extends '../__base.html' %}
{% load i18n %}
{% load widget_tweaks %}


{% block heading_action %}
<a href="{% url 'person-create' %}" title="{% trans 'Nueva persona '%}" data-toggle="tooltip" data-placement="bottom">
  <div class="icon dripicons-plus"></div>
  <span>
    {% trans 'Nueva persona' %}
  </span>
</a>
{% endblock %}

{% block body %}
  {% block content %}

    <form class="form-inline search-form" method="get">
      {{ filter.form.q | add_class:"form-control" }}
      <button class="btn btn-primary" type="submit">
        <span class="icon dripicons-search"></span>
      </button>
    </form>

    <table class="table table-striped table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>F. Nacimiento</th>
          <th>Roles</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for person in object_list %}
          <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.surname }}</td>
            <td>{{ person.birthday|default:'-' }}</td>
            <td>Roles</td>
            <td class="row-actions">
              <a href="{% url 'person-edit' person.id %}" class="btn btn-xs btn-link">
                <div class="icon dripicons-pencil"></div>
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4" class="empty">
              {% trans 'No hay personas' %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include '../_pagination.html' %}
  {% endblock content %}
{% endblock body %}
