{% extends './__simple.html' %}
{% load static %}

{% block main %}
<main class="col">
  {% if messages %}
  <div class="alerts">
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger" role="alert">
  {% else %}
    <div class="alert alert-success" role="alert">
  {% endif %}
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  </div>
  {% endif %}
  {% block body %}
  {% endblock %}
</main>
{% endblock %}
