{% extends './__simple.html' %}
{% load static %}

{% block main %}
<main class="col">
  {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <p><span class="alert alert-danger" role="alert">{{ message }}</span></p>
        {% else %}
        <p><span class="alert alert-success" role="alert">{{ message }}</span></p>
        {% endif %}
      {% endfor %}
  {% endif %}
  {% block body %}
  {% endblock %}
</main>
{% endblock %}
