{% load static %}
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Abertal</title>
  <link rel="stylesheet" href="{% static 'abertal.css' %}?{% now "U" %}">
</head>

<body>
  <header class="main-header">Abertal alpha</header>
  <div class="main-row">
    <aside class="primary-sidebar">
    {% block menu %}
    <ul class="alpha-menu element">
      <li class="element"><a href="{% url 'membership-list' %}">Membresías</a></li>
      <li class="element"><a href="{% url 'basicformnewperson' %}">Nuevo socio individual</a></li>
      <li class="element"><a href="{% url 'basicformnewfamily' %}">Nueva familia</a></li>
    </ul>
    {% endblock %}
    </aside>
    <div class="main-column">
      <main class="main-content">
      {% block body %}
      {% endblock %}
      </main>
      <footer class="main-footer">Copyright © 2016-2017, C.X. Abertal</footer>
    </div>
  </div>
</body>

</html>
