{% block pagination %}
<hr>
<nav aria-label="Ĺist pagination">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Anterior</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1">Anterior</a>
    </li>
    {% endif %}
    <li class="page-item disabled"><a class="page-link">Página {{ page_obj.number }} de {{ paginator.num_pages }}</a></li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="javascript:(0);">Siguiente</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock pagination %}
