{% extends './__base.html' %}

{% block body %}
<form class="custom-form element" action="{% url 'basicformnewperson' %}" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="alpha-form-row element">
    {{ form.name.label_tag }}
    {{ form.name }}
    {{ form.name.errors }}
  </div>
  <div class="alpha-form-row element">
    {{ form.surname.label_tag }}
    {{ form.surname }}
    {{ form.surname.errors }}
  </div>
  <div class="alpha-form-row element">
    {{ form.id_number.label_tag }}
    {{ form.id_number }}
    {{ form.id_number.errors }}
  </div>
  <div class="alpha-form-row element">
    {{ form.phone.label_tag }}
    {{ form.phone }}
    {{ form.phone.errors }}
  </div>
  <div class="alpha-form-row element">
    {{ form.mail.label_tag }}
    {{ form.mail }}
    {{ form.mail.errors }}
  </div>
  <div class="alpha-form-row element">
    {{ form.adress.label_tag }}
    {{ form.adress }}
    {{ form.adress.errors }}
  </div>
  <div class="alpha-form-row alpha-form-actions element">
    <input type="submit" class="btn" value="Guardar nuevo socio">
    <a href="{% url 'home' %}" class="btn btn-return">Volver sin guardar</a>
  </div>
</form>
{% endblock %}
