{% extends './__base.html' %}

{% block body %}
<h1 class="element">Nueva familia</h1>
<form class="element">
  {% for i in "1234" %}
  <section class="alpha-form-section element">
    <h2 class="element">Miembro {{ i }}</h2>
    <div class="alpha-form-row element">
      <label for="name{{ i }}">Nombre</label><input type="text" name="name{{ i }}">
    </div>
    <div class="alpha-form-row element">
      <label for="surname{{ i }}">Apellidos</label><input type="text" name="surname{{ i }}">
    </div>
    <div class="alpha-form-row element">
      <label for="phone{{ i }}">Teléfono</label><input type="text" name="phone{{ i }}">
    </div>
  </section>
  {% endfor %}
  <section class="alpha-form-section element">
    <h2 class="element">Datos comunes</h2>
  <div class="alpha-form-row element">
    <label for="adress">Dirección</label><input type="text" name="adress">
  </div>
  </section>
    <div class="alpha-form-row alpha-form-actions element">
      <a href="{% url 'home' %}" class="btn">Guardar nueva familia</a>
      <a href="{% url 'home' %}" class="btn btn-return">Volver sin guardar</a>
    </div>
</form>
{% endblock %}
