{% extends './__base.html' %}

{% block body %}
<h3>{{ person.name }} {{ person.surname|upper }}</h3>
<dl>
  <dt>Código único</dt>
  <dd>{{ custodian.id }}</dd>
  <dt>Autorización</dt>
  <dd>{{ custodian.authorized_signature }}</dd>
  <dt>Contacto de Emergencia</dt>
  <dd>{{ custodian.emergency_contact }}</dd>
</dl>
<form class="custom-form element" action="{% url 'custodian-edit' custodian.id %}" method="post">
{% csrf_token %}
{% include './_form_fields.html' %}
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Guardar cambios">
    <a href="{% url 'custodian-detail' custodian.id %}" class="btn btn-link">Volver sin guardar</a>
  </div>
</form>
{% endblock %}