<html>

<head>
    <title>Abertal WebApp</title>
    <meta charset="UTF-8">
    <style>
        #cajaLista {
            width: 95%;
            height: 600px;
            border: black solid 2px;
        }
    </style>
</head>

<body>
    <h1>Lista de grupos</h1>
    <div id="cajaLista">
        <ul>

            <li><a>{{ object.group_name }}</a></li>

            <pre>{% for person in people %}
                {{ forloop.counter }} - {{ person.name }}{{person.surname}} {{ person.age }}, {{person.email}}, {{person.phone_number}}
                {% endfor %}
            </pre>

        </ul>
    </div>
</body>

</html>