{% extends './__base.html' %}
{% load static %}

{% block body %}
<h2>hola {{ user.username }}</h2>
<div>
  <input id="id_person" name="person" type="hidden" v-model="personId">
  <input id="id_search_string" name="q" type="text" v-model="searchString">
  <input type="submit" value="Buscar" v-on:click="clickSearch">
  <div id="results">
    <div class="sk-rotating-plane" v-if="loading"></div>
    <ul class="list-group">
      <li is="person-card"
         v-for="result in results"
         v-bind:key="result.id"
         v-bind:person="result"
         v-bind:selected-id="personId"
         v-on:selected="selectPerson">
      </li>
      <li v-if="!results" class="list-group-item">No hay coincidencias</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/home.bundle.js' %}"></script>
{% endblock extra_js %}
