{% extends './__simple.html' %}
{% load i18n %}
{% load static %}


{% block page_class %}page-login{% endblock %}

{% block main %}
<div id="login" class="col-6 offset-2 align-self-center">

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {% trans 'Usuario o contraseña incorrecta. Inténtalo de nuevo.' %}
    </div>
  {% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      <input class="form-control"
             id="id_username"
             v-model="username"
             name="username"
             autofocus="autofocus"
             maxlength="254"
             required="required"
             type="text"
             placeholder="{% trans 'Nombre de usuario' %}"
      >
    </div>
    <div class="form-group">
      <input class="form-control"
             id="id_password"
             v-model="password"
             name="password"
             required="required"
             type="password"
             placeholder="{% trans 'Contraseña' %}"
      >
    </div>

    <div class="actions actions-center">
      <input class="btn btn-primary btn-lg" id="id_submit" type="submit" value="Aceptar" :disabled="!(username && password)" data-loading-text="Cargando" v-on:click="setLoading"/>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />

  </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/login.bundle.js' %}"></script>
{% endblock extra_js %}
