<html>

<head>
    <title>Abertal WebApp</title>
    <meta charset="UTF-8">
    <style>
        #cajaLista {
            width: 95%;
            height: 600px;
            border: black solid 2px;
        }
    </style>
</head>

<body>
    <h1>Lista de grupos</h1>
    <div id="cajaLista">
        <ul>
            {% for group in object_list %}
            <li><a href="{% url 'group_detail' pk=group.pk %}">{{ group.group_name }}</a></li>
            {% empty %}
            <li>No hay grupos</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>