{% extends './__base.html' %}

{% block body %}
<div class="card-container">
  {% for membership in object_list %}
  <a href="{% url 'membership-detail' membership.id %}" class="membership-card element">
    {% for personmembership in membership.personmembership_set.all %}
    {% if forloop.counter <= 6 %}
    <div>
      <div class="avatar element">
        <img src="https://sigil.cupcake.io/{{ personmembership.person.id }}.png?w=36" width="36" height="36" alt="identicon para {{ personmembership.person.name }}"/>
      </div>
      <span>{{ personmembership.person.name }}&thinsp;{{personmembership.person.surname}}</span>
    </div>
    {% elif forloop.counter == 7 %}
    <p>...</p>
    {% endif %}
    {% endfor %}
  </a>
  {% endfor %}
</div>
{% endblock %}
