{% extends './__base.html' %}

{% block body %}
{% for membership in object_list %}

{% if forloop.counter0|divisibleby:3 %}
<div class="card-group">
{% endif %}

  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Socio {{ membership.type_of_membership }}</h4>
      {% for personmembership in membership.personmembership_set.all %}
      <p>
        {% if forloop.counter <= 6 %}
        <img src="https://sigil.cupcake.io/{{ personmembership.person.id }}.png?w=36" width="36" height="36" alt="identicon para {{ personmembership.person.name }}"/>
        {{ personmembership.person.name }}&thinsp;{{personmembership.person.surname}}
        {% elif forloop.counter == 7 %}
        Más...
        {% endif %}
      </p>
      {% endfor %}
      <a href="{% url 'membership-detail' membership.id %}" class="card-link">Ver ficha</a>
    </div>
  </div><!-- card -->

{% if forloop.counter|divisibleby:3 or forloop.last %}
</div><!-- deck -->
{% endif %}

{% endfor %}
{% endblock %}
