{% extends './__base.html' %}

{% block body %}
<div class="element">
<p>Tipo: <b>{{ membership.type_of_membership }}</b><p>
<p>Estado: <b>{{ membership.payment_status }}</b></p>
{% for personmembership in membership.personmembership_set.all %}
<div class="element">
  <div class="avatar element">
    <img src="https://sigil.cupcake.io/{{ personmembership.person.id }}.png?w=36" width="36" height="36" />
  </div>
  <span><b>{{ personmembership.person.name }}&thinsp;{{personmembership.person.surname}}</b></span>
  {% if personmembership.person.age %}
  <div>Edad: {{ personmembership.person.age|default:"" }}</div>
  {% endif %}
  {% if personmembership.person.phone_number %}
  <div>Teléfono: {{ personmembership.person.phone_number|default:"" }}</div>
  {% endif %}
  {% if personmembership.person.email %}
  <div>Correo electrónico: {{ personmembership.person.email|default:"" }}</div>
  {% endif %}
  {% if personmembership.person.address_street %}
  <div>Dirección: {{ personmembership.person.address_street|default:"" }}. {{personmembership.person.address_locality}}.</div>
  {% endif %}
  {% if personmembership.person.id_number %}
  <div>DNI: {{ personmembership.person.id_number|default:"" }}</div>
  {% endif %}
  {% if personmembership.person.ss_number %}
  <div>Tarjeta sanitaria: {{ personmembership.person.ss_number|default:"" }}</div>
  {% endif %}
  <div><b>Estado del carné: {{ personmembership.card_status|default:"" }}</b></div>
  {% if personmembership.id_card_status == "no" %}
  <div><b style="color:red"> por entregar la fotocopia del DNI</b> <input type="button" class="btn_detalle" value="recogido"/><input type="button" class="btn btn-return" value="revertir"/></div>
  {% endif %}
  {% if personmembership.ss_card_status == "no" %}
  <div><b style="color:red">Falta por entregar la fotocopia de la tarjeta sanitaria</b> <input type="button" class="btn_detalle" value="recogido"/><input type="button" class="btn btn-return" value="revertir"/></div>
  {% endif %}
  {% if personmembership.dpa_status == "no" %}
  <div><b style="color:red">Falta por firmar la LOPD</b> <input type="button" class="btn_detalle " value="recogido"/><input type="button" class="btn btn-return" value="revertir"/></div> {% endif %}
  {% if personmembership.photo_status == "no" %}
  <div><b style="color:red">Falta por entregar la foto</b> <input type="button" class="btn_detalle " value="recogido"/><input type="button" class="btn btn-return" value="revertir"/></div>
  {% endif %}
  {% if personmembership.person.health_warnings %}
  <div><b style="color:navy;font-size:14pt;">{{ personmembership.person.health_warnings }}</b></div>
{% endif %}
</div>
<div><input type="button" class="btn_detalle_comentarios" value="Observaciones"/><input type="button" class="btn_detalle_comentarios" value="Observaciones Médicas"/>
  <div>
{% endfor %}
<br/>
<br/>
<div class="element">
<input type="button" class="btn_detalle" value="Guardar Cambios"/>
<input type="button" class="btn btn-return" value="Cancelar"/>
</div>

{% endblock %}

</div>