<html>

<head>
    <title>Abertal WebApp</title>
    <meta charset="UTF-8">
    <style>
        #cajaLista {
            width: 95%;
            height: 600px;
            border: black solid 2px;
        }
        .camposDatos{

           
            width:4%;

        }
    </style>
</head>

<body>
    <h1>Lista de grupos</h1>
    <div id="cajaLista">
        <ul>
            {% for membership in object_list %}
            <li>
               <table>
                    <tr>
                        <td class="camposDatos">{{ membership.person.name }}{{membership.person.surname}}</td>
                        <td class="camposDatos">DNI:{{ membership.id_card_status}}</td>
                        <td class="camposDatos">SS:{{membership.ss_card_status}}</td>
                        <td class="camposDatos">LOPD:{{membership.dpa_status}}</td>
                        <td class="camposDatos">PAGO:{{membership.membership_fee}}</td>
                        <td class="camposDatos">CUOTA:{{membership.payment_status}}</td>
                        <td class="camposDatos">CARNET:{{membership.card_status}}</td>
                    </tr>
                </table>
            </li>
            {% empty %}
            <li>Nada</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>