<!DOCTYPE html >
<html>

<head>
    <title>Abertal WebApp</title>
    <meta charset="UTF-8">
<style type="text/css">
body {
    font-size: 14px;
    padding: 14px;
}
.alpha--table {
    border: 1px solid black;
    border-collapse: collapse;

}
.alpha--table th,
.alpha--table td {
  border: solid thin;
  padding: 0.5rem 2rem;
}
.alpha--table td {
  white-space: nowrap;
}
.alpha--table th {
  font-weight: normal;
}
.alpha--table td {
  border-style: none solid;
  vertical-align: top;
}
.alpha--table th {
  padding: 0.2em;
  vertical-align: middle;
  text-align: center;
}

</style>
</head>

<body>
    <h1>Documentación pendiente</h1>
    <table class="alpha--table">
        <tr>
            <th>ID</th>
            <th>CUOTA</th>
            <th>PAGO</th>
            <th>SOCIOS</th>
        </tr>
        {% for membership in object_list %}
        <tr>
            <td>{{ membership.id }}</td>
            <td>{{ membership.membership_fee }}</td>
            <td>{{ membership.payment_status }}</td>
            <td>
                <table class="alpha--table">
                    <tr>
                        <th>NOME</th>
                        <th>DNI</th>
                        <th>SS</th>
                        <th>LOPD</th>
                        <th>FOTO</th>
                        <th>CARNET</th>
                    </tr>
                    {% for personmembership in membership.personmembership_set.all %}
                    <tr>
                        <td>{{ personmembership.person.name }}&thinsp;{{personmembership.person.surname}}</td>
                        <td>{{ personmembership.id_card_status}}</td>
                        <td>{{personmembership.ss_card_status}}</td>
                        <td>{{personmembership.dpa_status}}</td>
                        <td>{{personmembership.photo_status}}</td>
                        <td>{{personmembership.card_status}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">Nada</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nada</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>