{% extends './__base.html' %}
{% load i18n %}

{% block body %}
<h3>{{ person.name }} {{ person.surname|upper }}</h3>
<dl>
  <dt>{% trans 'Código único '%}</dt>
  <dd>{{ person.id }}</dd>
</dl>
<form class="custom-form element" action="{% url 'person-edit' person.id %}" method="post">
{% include './_form_fields.html' %}
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="{% trans 'Guardar cambios' %}">
    <a href="{% url 'person-detail' person.id %}" class="btn btn-link">{% trans 'Volver sin guardar' %}</a>
  </div>
</form>
{% endblock %}
