{% extends './__base.html' %}

{% block body %}
  {% block content %}
  <div>
    <a href="{% url 'person-create' %}" class="btn btn-primary">Nueva persona</a>
  </div>
    <br>
    <form method="get">
     {{ filter.form.as_p }}
     <button type="submit">Buscar</button>
    </form>
    <br>
    {% for person in filter.qs %}
     <div>
      <a href="{% url 'person-detail' pk=person.pk %}">{{ person.name }} {{ person.surname|upper }}</a>
      <p>{{ person.birthday|default:"Sin fecha de nacimiento" }}</p>
     </div>
    {% empty %}
     <p>No hay grupos</p>
    {% endfor %}
  {% endblock %}

{% endblock %}
