{% extends './__base.html' %}

{% block body %}
<h3>{{ person.name }} {{ person.surname|upper }}</h3>
<dl>
  <dt>Código único</dt>
  <dd>{{ person.id }}</dd>
  <dt>Fecha de nacimiento</dt>
  <dd>{{ person.birthday|default:"Sin especificar" }}</dd>
  <dt>DNI</dt>
  <dd>{{ person.id_number }}</dd>
  <dt>Tarjeta sanitaria</dt>
  <dd>{{ person.ss_number }}</dd>
  <dt>Teléfono</dt>
  <dd>{{ person.phone_number }}</dd>
  <dt>Móvil</dt>
  <dd>{{ person.mobile_number }}</dd>
  <dt>Correo electrónico</dt>
  <dd>{{ person.email }}</dd>
  <dt>Dirección</dt>
  <dd>{{ person.address_street }}</dd>
  <dd>{{ person.address_locality }}</dd>
  <dd>{{ person.address_region }}</dd>
  <dd>{{ person.address_country }}</dd>
  <dt>Observaciones médicas</dt>
  <dd>{{ person.health_warnings }}</dd>
  <dt>Observaciones</dt>
  <dd>{{ person.comment }}</dd>
  <dt>Es responsable de</dt>
  <dd>
    {% for custodian in person.custodian_set.all %}
      <a href="{% url 'recipient-detail' custodian.minor.id %}">{{ custodian.minor.person.name }}</a>
    {% endfor %}
  </dd>
</dl>
<a href="{% url 'person-edit' person.id %}" class="btn btn-secondary">Editar</a>
{% for recipient in person.recipient_set.all %}
<a href="{% url 'recipient-detail' recipient.id %}" class="btn btn-info">Ficha de destinatario</a>
{% endfor %}
{% for volunteer in person.volunteer_set.all %}
<a href="{% url 'volunteer-detail' volunteer.id %}" class="btn btn-info">Ficha de voluntario</a>
{% empty %}
<a href="{% url 'volunteer-create' person.id %}" class="btn btn-secondary">Dar de alta como voluntario</a>
{% endfor %}
{% for member in person.member_set.all %}
<a href="{% url 'member-detail' member.id %}" class="btn btn-info">Ficha de documentación</a>
{% endfor %}
{% for custodian in person.custodian_set.all %}
<a href="{% url 'custodian-edit' custodian.id %}" class="btn btn-secondary">Editar responsable</a>
{% endfor %}
{% for membership in person.membership_set.all %}
<a href="{% url 'membership-edit' person.id %}" class="btn btn-secondary">Editar miembro</a>
{% endfor %}
{% endblock %}
