{% extends './__base.html' %}

{% block body %}
  {% block content %}
  <div>
    <a href="{% url 'person-create' %}" class="btn btn-primary">Nueva persona</a>
  </div>
    <br>
    <form method="get">
     {{ filter.form.as_p }}
     <button type="submit">Buscar</button>
    </form>
    <br>
    {% for recipient in object_list %}
     <div>
      <a href="{% url 'recipient-detail' pk=recipient.pk %}">{{ recipient.person.name }} {{ recipient.person.surname|upper }}</a>
      <p>{{ recipient.person.birthday|default:"Sin fecha de nacimiento" }}
     </div>
    {% empty %}
     <p>No hay destinatarios...</p>
    {% endfor %}
    {% include './_pagination.html' %}
  {% endblock %}

{% endblock %}