{% extends './__base.html' %}

{% block body %}
  {% block content %}
  <div>
    <a href="{% url 'person-create' %}" class="btn btn-primary">Nueva persona</a>
  </div>
    <br>
    <form method="get">
     {{ filter.form.as_p }}
     <button type="submit">Buscar</button>
    </form>
    <br>
    {% for volunteer in filter.qs %}
     <div>
      <a href="{% url 'volunteer-detail' pk=volunteer.pk %}">{{ volunteer.person.name }} {{ volunteer.person.surname|upper }}</a>
      <p>{{ volunteer.person.birthday|default:"Sin fecha de nacimiento" }}
      </br>
      Emisión certificado: {{ volunteer.lack_of_sexual_offenses_date_certificate|default:"Sin certificado" }}</p>
     </div>
    {% empty %}
     <p>No hay voluntarios...</p>
    {% endfor %}
  {% endblock %}

{% endblock %}
