{% extends '../__base.html' %}
{% load i18n %}

{% block body %}
  {% block content %}
    <br>
    <form method="get">
     {{ filter.form.as_p }}
     <button type="submit">{% trans 'Buscar' %}</button>
    </form>
    <br>
    {% for recipient in object_list %}
     <div>
      <a href="{% url 'recipient-detail' pk=recipient.pk %}">{{ recipient.person.name }} {{ recipient.person.surname|upper }}</a>
      <p>{{ recipient.person.birthday|default:_("Sin fecha de nacimiento") }}
     </div>
    {% empty %}
     <p>{% trans 'No hay destinatarios...' %}</p>
    {% endfor %}
    {% include '../_pagination.html' %}
  {% endblock %}

{% endblock %}