body {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  min-height: calc(100vh - 24px);
}
main {
  flex: 1;
}
footer {
  text-align: center;
  padding-top: 30px;
  font-size: 0.8em;
}
