@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700";
.cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.container-fluid-alpha {
  padding: 0 50px;
  max-width: 1440px;
  margin: auto;
}
.col.no-gutters {
  padding-left: 0;
  padding-right: 0;
}
.form-group {
  margin-bottom: 30px;
}
.card {
  border: 0;
}
.card .card-header {
  border: 0;
  background: none;
  border-top: 1px solid #979797;
  color: #f26a44;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0;
}
fieldset.form-group {
  position: relative;
  border: 0;
}
fieldset.form-group .card-header {
  border: 0;
  background: none;
  border-top: 1px solid #979797;
  color: #f26a44;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0;
}
fieldset.form-group legend {
  border: 0;
  background: none;
  border-top: 1px solid #979797;
  color: #f26a44;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0;
}
fieldset.form-group .fieldset-content {
  padding-left: 80px;
}
fieldset.form-group .fieldset-index {
  position: absolute;
  left: 0;
  color: #cdcdd0;
  font-size: 72px;
  font-weight: 300;
  line-height: 1em;
}
.control-label {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  color: #6b5e62;
}
.form-control {
  line-height: 23px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #fff;
  border: 1px solid #979797;
}
.form-control:focus {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border: 1px solid #979797;
}
.input-group .input-group-addon {
  background: #fff;
  border-color: #979797;
  color: #9b9b9b;
}
.input-group .form-control {
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  padding-right: 0;
}
form .actions {
  padding: 30px 0;
}
form .actions.actions-center {
  text-align: center;
}
.form-control-feedback .errorlist {
  margin: 0;
  padding: 3px 0 3px 15px;
  color: #f05054;
  list-style: none;
}
.custom-control .custom-control-input:checked ~ .custom-control-indicator {
  background-color: #f26a44;
}
.custom-control .custom-control-indicator {
  width: 1.5rem;
  height: 1.5rem;
}
.custom-control .custom-control-description {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  color: #6b5e62;
}
.navbar {
  background: #f6903d;
  min-height: 155px;
  padding: 0;
  text-transform: uppercase;
}
.navbar .navbar-brand {
  box-sizing: border-box;
  background: #6b5e62;
  display: block !important;
  color: #fff;
  height: 155px;
  line-height: 95px;
  padding: 30px;
  overflow: hidden;
  font-size: 23px;
  text-align: right;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-brand:hover {
  color: #fff;
  background: #504649;
}
.navbar .navbar-brand span {
  text-transform: none;
}
.navbar .navbar-collapse {
  flex-basis: auto;
}
.navbar .navbar-nav .nav-item {
  padding: 0 10px;
}
.navbar .navbar-nav .nav-item a.nav-link {
  color: #fff;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding-bottom: 3px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.navbar .navbar-nav .nav-item a.nav-link:before {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: ' ';
  height: 1px;
  bottom: 0;
  width: 0;
  position: absolute;
  display: block;
  background: #fff;
}
.navbar .navbar-nav .nav-item a.nav-link:before {
  left: 0;
}
.navbar .navbar-nav .nav-item a.nav-link:hover {
  text-decoration: none;
}
.navbar .navbar-nav .nav-item a.nav-link:hover:before {
  width: 100%;
}
.navbar .dropdown-menu {
  background: #6b5e62;
}
.navbar .dropdown-menu a.dropdown-item {
  color: #fff;
}
.navbar .dropdown-menu a.dropdown-item:active {
  color: #fff !important;
  background: #f26a44;
}
.navbar .dropdown-menu a.dropdown-item:hover {
  color: #6b5e62;
}
.btn {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 30px;
}
.btn.btn-primary {
  background: #f26a44;
}
.btn.btn-primary:hover {
  background: #6b5e62;
}
.btn.btn-secondary {
  border: 1px solid #f26a44;
  color: #f26a44;
  background: transparent;
}
.btn.btn-secondary:hover {
  background: #f26a44;
  color: #fff;
}
.btn.btn-lg {
  min-width: 300px;
  padding: 22px;
  letter-spacing: 1.52px;
  font-size: 21px;
}
.btn.btn-xs {
  padding: 3px 5px;
}
.btn.btn-link {
  color: #6b5e62;
}
.alert {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 0;
  padding: 2px 10px;
  text-align: center;
  font-size: 18px;
}
.alert.alert-danger {
  background: #f05054;
  color: #fff;
}
.alerts {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 9999;
}
.alerts .alert {
  padding: 10px 20px;
  margin-bottom: 3px;
}
.alerts .alert .close {
  padding-left: 20px;
  font-size: 26px;
  cursor: pointer;
}
.nav.nav-tabs {
  margin-top: 50px;
  border-bottom: 1px solid #979797;
}
.nav.nav-tabs li {
  border-top: 1px solid #cdcdd0;
  border-right: 1px solid #cdcdd0;
  display: flex;
}
.nav.nav-tabs li .custom-control {
  text-align: center;
  margin: 4px 10px;
}
.nav.nav-tabs li:first-child {
  border-left: 1px solid #cdcdd0;
}
.nav.nav-tabs a.nav-link {
  border: 0;
  flex: 1;
  text-transform: uppercase;
  color: #979797;
  font-weight: bold;
}
.nav.nav-tabs a.nav-link.active {
  background: #f26a44;
  color: #fff;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.nav.nav-tabs a.nav-link.active .icon.error {
  background: #fff;
  color: #f05054;
}
.tab-content {
  padding: 30px;
}
.table thead.thead-inverse {
  text-transform: uppercase;
}
.table thead.thead-inverse th {
  background: #f26a44;
}
.table tbody .empty {
  text-align: center;
}
.table tbody tr .row-actions {
  text-align: right;
}
.table tbody tr .row-actions .btn {
  visibility: hidden;
}
.table tbody tr:hover .row-actions .btn {
  visibility: visible;
}
.list-group-item.list-group-item-header {
  background: #f26a44;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.list-group-item-action:hover {
  background: #fcdcd3;
}
.list-group-item-action span.icon-badge {
  position: absolute;
  right: 15px;
  top: 15px;
}
.icon.error {
  background: #f00;
  color: #fff;
  border-radius: 99px;
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
  padding: 4px 5px;
}
.hidden {
  display: none;
}
/* -------------------- */
/* Main styles          */
/* -------------------- */
body {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  min-height: calc(76vh);
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  background: url(../i/bg.jpg) no-repeat;
  background-size: cover;
}
main {
  flex: 1;
}
#login {
  margin: auto;
  padding-top: 150px;
}
body:not(.page-login) header.page-heading {
  margin-bottom: 20px;
  display: flex;
}
body:not(.page-login) header.page-heading .heading-action {
  width: 130px;
}
body:not(.page-login) header.page-heading .heading-action a {
  color: #f26a44;
  text-align: center;
  display: block;
  height: 100%;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body:not(.page-login) header.page-heading .heading-action a:hover {
  text-decoration: none;
  color: #6b5e62;
}
body:not(.page-login) header.page-heading .heading-action a .icon {
  font-size: 70px;
}
body:not(.page-login) header.page-heading .heading-action a .icon:before {
  vertical-align: middle;
}
body:not(.page-login) header.page-heading .heading-action a span {
  text-transform: uppercase;
  color: #6b5e62;
  line-height: 1em;
  display: block;
}
body:not(.page-login) header.page-heading h1 {
  flex: 1;
  padding: 50px 50px;
  height: 150px;
  align-items: baseline;
  background: #f26a44;
  color: #fff;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
body:not(.page-login) .main-container .main-heading-row,
body:not(.page-login) .main-container .main-row {
  background: #fff;
}
body:not(.page-login) .main-container .main-row {
  padding: 80px 120px;
}
.lang-switcher a:after {
  display: none !important;
}
.search-form {
  margin-bottom: 40px;
}
.search-form input {
  margin-right: 10px;
}
footer {
  background: #6b5e62;
  color: #fff;
  padding: 15px 0;
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
  left: 0;
  righT: 0;
}
/* --------------------- */
/* Resets                */
/* --------------------- */
.fluid-container,
.row {
  max-width: 100%;
}
/* --------------------- */
/* Spinner               */
/* --------------------- */
/* The MIT License (MIT)
 *
 * Copyright (c) 2015 Tobias Ahlin
 *
 *  Usage:
 *
      <div class="sk-rotating-plane"></div>
 *
 */
.sk-rotating-plane {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 40px auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
