{% extends '../__base.html'%}
{% load i18n %}

{% block body %}
<h3>{{ volunteer.person.name }} {{ volunteer.person.surname|upper }}</h3>
<form class="custom-form element" action="{% url 'volunteer-delete' volunteer.id %}" method="post">
{% include '../_form_fields.html' %}
<div class="form-group">
    <p>
    {% blocktrans %}
    ¿Está seguro de querer eliminar al voluntario de la lista?
    {% endblocktrans %}
    </p>
    <input type="submit" class="btn btn-primary" value="{% trans 'Confirmar'%}" method="post"/>
    <a href="{% url 'volunteer-detail' volunteer.pk %}" class="btn btn-link">{% trans 'Volver sin eliminar' %}</a>
</div>
</form>
{% endblock %}