{% extends '../__base.html' %}
{% load i18n %}

{% block body %}
<h3>{{ volunteer.person.name }} {{ volunteer.person.surname|upper }}</h3>
<dl>
  <dt>{% trans 'Fecha expiración certificados' %}</dt>
  <dd>{{ volunteer.lack_of_sexual_offenses_date_certificate|default:_("Sin especificar") }}</dd>
  <dt>Observaciones</dt>
  <dd>{{ volunteer.comment|default:_('Sin especificar') }}</dd>
</dl>
<a href="{% url 'volunteer-edit' volunteer.id %}" class="btn btn-secondary">{% trans 'Editar' %}</a>
<a href="{% url 'person-detail' volunteer.person.id %}" class="btn btn-link">{% trans 'Ir a la ficha personal' %}</a>
{% endblock %}
